.container {
    margin:10px 0;
    overflow-x: scroll;
    overflow-y: hidden;

}

.wrap {
    overflow-x: scroll;

    margin: 0 0 0 -50px;
}

@media (min-width: 744px) {
    .container {
        margin: 10px auto;
        min-width: 700px;
        max-width: 100%;


        height: 550px
    }

    .wrap {
        overflow-y: hidden;
    }
}
