.container {
    margin:-60px 0 0 72px;
    display: flex;

    font-family: 'Hitch Hike', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 14px;
    color: black;
    text-align: center;
}