.description {
    margin:0;
    padding:0;
    display: block;
    position: relative;
    left:-6px;
    top: -65px;
    max-width: 90px;
    rotate: 270deg;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 10px;
}

.label {
    height: 80px;
    width: 45px;

}