.app {
    background: black;
    height:100%;
    margin: 0;
    padding: 6px 19px 0 15px;
    color: white;

}

@media (min-width: 744px) {
    .app {
        padding: 68px 34px 0 37px;
    }
}

@media (min-width: 1440px) {
    .app {
        padding: 72px 142px 0 96px;
    }
}