.modalWrap {
    background: #171829!important;
}

.modalWrap div {
    background: #171829 !important;
    color: #ffffff ;
    position: relative;
}

.wrap {
    height: 100%;
    width: 100%;

    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index:2;
    color: white;

    background: rgba(0, 0, 0, 0.5);
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;

    width: 280px;
    min-height: 500px;
    background: #000000;
    border-radius: 30px;
    border: 1px solid red;

    overflow-y: scroll;

    top: 10%;
    bottom: 10%;
    margin: auto;
    padding: 0 21px 33px;
    z-index:2;
}

.close {
    position: absolute;
    top: 15px;
    right: 5px;
    width: 32px;
    height: 32px;

    opacity: 1;
    margin:0;
    padding: 0;
}

.close:hover {
    opacity: 0.5;
}

.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: #FFFFFF;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

 .condition {
     margin-top: 120px;
 }

 .conditionLabel {
     font-family: 'Montserrat', sans-serif;
     font-style: normal;
     font-weight: 500;
     font-size: 15px;
     line-height: 18px;

     color: #FFFF00;
     margin: 0;
 }

.conditionValue {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;

    margin: 0;
}

.conditionValue span {
    opacity: 0.3;
}

@media(min-width: 743px) {

}
