.wrap {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 100%;
}

.videoCard {
    margin-top: 30px;
    position: relative;

    max-width: 250px;

    background-color: transparent;
    border-width: 1px;
    border-color: red;


    width: 11.6rem;
    align-self: center;
}

.videoCard iframe {
    width: 15.4rem;
    height:15.4rem;
    border: none
}

.videoCard p {
    position: relative;
    display: block;
    margin-top:35px;
    margin-left: 0;
    width: 120%;
    font-family: "Montserrat", sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.05rem;
    color: #FFFFFF;
    z-index: 3;
}


@keyframes fadeout {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.9);
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.toggleOut {
    animation: fadeout 5000ms;
    opacity: 0;
    display: none;
}

.toggleIn {
    animation: fadein 800ms;
    opacity: 1;
    display: block;
    width: 230px;
}

.imgFrame {
    position: absolute;
    width: 200px;
}


