.container{
    width:240px;
    border: 1px solid red;
    padding: 5px;
}
.container label {
    width: 240px;
    display: flex;
    justify-content: space-between;
}
.container label span {
    display: block;
}

.container label div {
    width: 147px;
}

.fieldErrorBlock {
    display: block;
}

.fieldErrorBlock p {
    font-size: 11px;
    margin:0;
    color: crimson;
}