.layout {
    display: flex;
    flex-direction: column;
    width: 22.5rem;
}

.tabContainer {
    align-self: center;
    display: flex;


    font-family: Inter, sans-serif;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
}

.createTab {
    width: 9.8125rem;
    height: 1.6875rem;
    border-radius: 0.8125rem 0rem 0rem 0.8125rem;
    border: 1px solid #FFF;
    background: #1F2F67;
    margin-bottom: 1.12rem;
    color: #FFF;

}

.updateTab {
    width: 9.8125rem;
    height: 1.6875rem;
    flex-shrink: 0;
    border-radius: 0rem 0.8125rem 0.8125rem 0 ;
    border: 1px solid #FFF;

    background: #1F2F67;

    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.50);
    color: #FFF;

}

.activeTab {
    background: #FFF;
    color: #3B3B3B;
    border-top: 1px solid #9B9B9B;
    border-bottom: 1px solid #9B9B9B;
    border-left: 1px solid #9B9B9B;
}

.submit {
    display: flex;
    width: 6.9375rem;
    height: 1.75rem;
    padding: 0.375rem 0.75rem 0.375rem 0.8125rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    border-radius: 0.5rem;
    border: 1px solid #9B9B9B;
    background: #FFF;
    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.50);
}

.container{
    width: 19.625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    border-radius: 13px;
    border: 1px solid #FFF;
    background: #172451;
}

.container label div {
    width: 100%;
}

.container label input {
    border-radius: 0.5rem;
    border: 1px solid #9B9B9B;
    background: #FFF;
    min-width: 10rem;
    width: calc(100% - 1rem);
    height: 1rem;
    margin: 0.25rem 0;
    padding: 0.25rem 0.325rem 0.25rem 0.325rem;
}
.container label {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container label span {
    display: block;
    color: #FFFDD2;
    font-family: Inter, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    margin: 0.75rem 0;
}

.rusoisolation {
    flex-direction: row !important;
    justify-content: space-between;

}

.rusoisolation input {
    margin: 0.75rem 0 !important;
    min-width: 30px !important;
    width: 30px !important;
}

.fieldErrorBlock {
    display: block;

}

.fieldErrorBlock p {
    color: #D38247;
    text-align: right;
    font-family: Inter, sans-serif;
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0.3125rem;
    margin-top: 0.5rem;
}