.container {
    margin:-60px 71px 0 78px;
    display: flex;
    justify-content: space-between;

    font-family: 'Hitch Hike', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 14px;
    color: black;
    text-align: center;
}